In [1]:
import numpy as np
import mapclassify as mc

In [2]:
import pandas as pd

In [5]:
upper_bounds = [2, 7,]

In [3]:
data = pd.DataFrame({'A':[1,1,2,2,5,6,8,10], 'B':[1,3,7,7,8,9,9,10]})

In [4]:
data

    A   B
0   1   1
1   1   3
2   2   7
3   2   7
4   5   8
5   6   9
6   8   9
7  10  10

In [35]:
pooled = mc.Pooled(data[['A', 'B']], classifier="UserDefined", bins = upper_bounds)

In [36]:
data['A_class'] = pooled.col_classifiers[0].make(bins=upper_bounds)(data['A'])

In [37]:
data['B_class'] = pooled.col_classifiers[1].make(bins=upper_bounds)(data['B'])

In [38]:
data

    A   B  A_class  B_class
0   1   1        0        0
1   1   3        0        1
2   2   7        0        1
3   2   7        0        1
4   5   8        1        2
5   6   9        1        2
6   8   9        2        2
7  10  10        2        2

In [39]:
pooled.global_classifier

UserDefined

   Interval      Count
----------------------
[ 1.00,  2.00] |     5
( 2.00,  7.00] |     5
( 7.00, 10.00] |     6

In [40]:
pooled.col_classifiers

[Pooled UserDefined

    Interval      Count
 ----------------------
 [ 1.00,  2.00] |     4
 ( 2.00,  7.00] |     2
 ( 7.00, 10.00] |     2,
 Pooled UserDefined

    Interval      Count
 ----------------------
 [ 1.00,  2.00] |     1
 ( 2.00,  7.00] |     3
 ( 7.00, 10.00] |     4]

In [41]:
pooled.bins

[2, 7]

In [42]:
pooled.global_classifier.bins

array([ 2,  7, 10], dtype=int64)

In [45]:
pooled.classes

[[0, 1, 2, 3, 8], [4, 5, 9, 10, 11], [6, 7, 12, 13, 14, 15]]

In [49]:
pooled.col_classifiers[0].classes

[[0, 1, 2, 3], [4, 5], [6, 7]]

In [50]:
pooled.col_classifiers[1].classes

[[0], [1, 2, 3], [4, 5, 6, 7]]